<%- include('partials/header'); %>

<section id="error-page">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Oops! Something went wrong.</h1>
            <p>We couldn’t load the data you requested. This might be a network issue, an unsupported cryptocurrency, or a temporary
            server glitch. Please try again or go back and select different options.</p>
            <p><a id="error-btn" class="btn btn-primary btn-lg" href="/select" role="button">Go Back to Selection »</a></p>
        </div>
    </div>
</section>



<%- include('partials/footer'); %>