<%- include('partials/header'); %>



<!-- Loader -->

<section id="select-section">
    <div id="loader" style="display: none;">
        <div class="spinner"
            style="border: 8px solid #f3f3f3; border-top: 8px solid #00ffcc; border-radius: 50%; width: 60px; height: 60px; animation: spin 1s linear infinite;">
        </div>
        <p style="margin-top: 10px; color: white; font-size: 16px;">Fetching data, please wait...</p>
    </div>

    <div class="container main-select">
        <h1>Select your Crypto & Timeframe</h1>
        <!-- FORM FOR USER DATA-->
         <form id="selectionForm" action="/fetch-data" method="post">
            <!--Crypto Selection Drop Down-->
            <div class="form-group">
                <label for="crypto">Choose a Cryptocurrency:</label>
                <select name="crypto" id="crypto" required>
                    <option value="" disabled selected hidden>Select a Cryptocurrency</option>
                    <option value="BTC">Bitcoin (BTC)</option>
                    <option value="ETH">Etherium (ETH)</option>
                    <option value="XRP">Ripple (XRP)</option>
                    <option value="ADA">Cardano (ADA)</option>
                    <option value="SOL">Solana (SOL)</option>
                    <option value="LTC">Litecoin (LTC)</option>
                </select>
            </div>
            <!-- Time frame Drop Down-->
            <div class="form-group">
                <label for="timeframe">Select a historical Data Type:</label>
                <select name="timeframe" id="timeframe" required>
                    <option value="" disabled selected hidden>Select a Timeframe</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>

            <!--Submit Button-->
            <button type="submit" class="btn-submit">
                <i class="fa-solid fa-chart-line"></i> Get Insights
            </button>
            <script>
                const form = document.getElementById('selectionForm');
                const loader = document.getElementById('loader');

                form.addEventListener('submit', () => {
                    loader.style.display = 'flex'; // Show the loader before the form is submitted
                });
            </script>



         </form>
      
       

    </div>

</section>






<%- include('partials/footer'); %>